<div class="container">

  <div class="card text-dark bg-light mb-3">
    <div class="card-body">
      <h1>Crypto Mongo App</h1>
    </div>
  </div>

  <div class="row g-3">

    <label for="limit" class="col-sm-2 col-form-label">Limite de busqueda</label>
    
    <div class="col-auto">
      <input type="number" class="form-control limit" id="limit" value="10" min="1" #limitInput>
    </div>
    
    <div class="col-auto">
      <button (click)="actualizar(limitInput)" type="button" class="btn btn-outline-secondary btn-act">Actualizar</button>
    </div>

  </div>

  <table class="table table-hover ">
    
    <thead lass="table-light">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio en USD</th>
        <th scope="col">Ultima actualizacion</th>
        <th scope="col">Fecha de salida</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let moneda of cryptoValues; let i=index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ moneda.name }}</td>
        <td>{{ moneda.quote.USD.price }}</td>
        <td>{{ moneda.last_updated | date: 'dd/MM/yyyy - HH:MM:SS'}}</td>
        <td>{{ moneda.date_added | date: 'dd/MM/yyyy - HH:MM:SS'}}</td>
      </tr>
    </tbody>

  </table>

</div>