.container1 {
    margin-top: 30px;
}

.card {
    width: 600px;
    margin: 5px;
    max-width: 600px;
    margin: 0 auto;
    float: none;
}

.card-img-top {
    width: auto;
    height: 260px;
    object-fit: scale-down;
}

.card-footer {
    text-align: right;
}

.btn-eliminar {
    margin-left: 15px;
}